:root {
  /* BACKGROUND */
  --color-background-dark: #222;
  --color-background-dark-orange-1: #160701;

  /* NEON */
  --color-neon-orange-1: #f9ba0c;
  --color-text-orange-1: #8b6703;

  /* FLUO */
  --color-fluo-pink-1: #fe019a;
  --color-fluo-green-1: #08ff08;
  --color-fluo-blue-1: #00fdff;

  /* GRADIENT */
  --gradient-pink-1: linear-gradient(45deg, #cc2b5e, #753a88);
  --gradient-skin-1: linear-gradient(315deg, #ffafbd, #ffc3a0);
  --gradient-ocean-1: linear-gradient(315deg, #43cea2, #185a9d);

  --gradient-blue-green-1: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);

  /* BOX SHADOWS */
  --shadow-orange-1: 0 5px 20px rgba(136, 48, 0, 0.5);
  --shadow-brown-1: 0 5px 20px rgba(136, 48, 0, 0.2);

  /* TEXT */
  --text-orange-1: #822b09;
}
